* {
  margin: 5px;
  display: block;
  padding: auto;
}

header {
  margin: auto;
  font-size: 5rem;
  text-align: center;
  width: 60%;
  border: 3px black solid;
}

nav {
  display: flex;
  flex-direction: row; /* Default is column */
  justify-content: space-around;
  border: 3px black solid;
  width: 80%;
  margin: auto;
}

a {
  font-size: 2rem;
 text-decoration: none;
}

img {
  margin: auto; /* This centers the image for some reason */
  width: 80%;
}

p {
  width: 70%;
  margin: auto;
  padding: 5%;
  border: 3px black solid;
}
